$fondo-secciones: #343a40;
$color-footer:#F08080;
$color-integrantes:#A569BD;
$fuente1: 'Barlow',sans-serif;
$fuenteLogo:'Dancing Script', cursive;
$fuenteTitulo: 'Sansita Swashed', cursive;
$amarillo:rgba(245,215,85,250);
$amarilloClaro: rgba(245,215,85,0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

// menu

.navbar{
    background-color: $amarillo !important;
}

nav .navbar-brand{
    font-family: $fuenteLogo;
    font-size: 50px;
    color: #000000 !important;
}

.nav-link{
    color: rgba($color: #000000, $alpha: 0.5) !important;
    transition: all 0.4s;
    font-size: 20px;
}

.nav-link:hover{
    color: black !important;
}

nav button{
    color: #000000 !important;
}


/* videos */

.videos h2 {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    font-family: $fuenteTitulo;
    color: black;
}

.videos .container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.videos iframe {
    padding: 0.5rem;
}

/* Discos */

.discos{
    background-image: url("multimedia/guitar.jpg");
    background-attachment: fixed;
    margin-top: 2rem;
    padding-top: 20px;
}

.discos h2 {
    font-size: 2rem;
    text-align: center;
    font-family: $fuente1;
}


.contenedorDiscos {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contenedorDiscos img {
    height: 20rem;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

.contenedorDiscos h4, .contenedorDiscos h5 {
    color: black;
    text-align: center;
    font-family: $fuente1;
}




/* Integrantes */

.integrantes h2 {
    font-size: 2rem;
    margin: 20px;
    text-align: center
}

.integrantes {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aa8fd8;
}

.integrantes .banda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.integrantes__division {
    margin: 1rem;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding: 1rem;
    border-radius: 5%;
}


.integrantes__imagen {
    height: 20rem;
    border-radius: 50%;
}

.integrantes__nombre {
    margin-bottom: 1rem;
    font-family: $fuente1;
    font-weight: bolder;
}

/* Fechas */

.fechas {
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.fechas__titulo,
.fechas__texto-imagen {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}

.fechas__titulo {
    animation: fadeInLeft;
    animation-duration: 2s;
}

.fechas__texto-imagen{
    animation: fadeInRight;
    animation-duration: 2s;
}



.fechas__imagen {
    width: 50%;
    height: 30rem;
    border-radius: 20px;
    background-image: url('multimedia/auto.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

/* Contacto */

.formulario {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("multimedia/guitar2.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    min-height: 550px;
}

.formulario h2 {
    color: #D0D3D4;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(8px);
    padding: 1rem;
    border-radius: 5px;
    align-items: center;
}

.formulario label {
    font-size: 1.5rem;
    color: #D0D3D4;
    font-family: 'Barlow', sans-serif;

}

.formulario input {
    background-color: #D0D3D4;
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 100%;
    padding-left: 1rem;
}

.formulario textarea {
    background-color: #D0D3D4;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 10rem;
    padding-left: 1rem;
}

.formulario .enviar {
    width: 7rem;
    background-color: transparent;
    padding-left: 0;
    font-size: 18px;
    border: solid 2px $amarillo;
    color:$amarillo;
    transition: all 0.4s;
    border-radius: 20px;
    height: 35px;
    text-transform: uppercase;
}

.formulario .divEnviar {
    padding: 1rem;
}

.formulario .enviar:hover {
    color: black;
    cursor: pointer;
    background-color: $amarilloClaro;
}

.formulario .enviar:active {
    background-color: $amarillo;
    color: black;
}

/* footer */

.footer {
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__lista {
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.footer h4 {
    font-weight: lighter;
}

.footer .icon{
    transition: all 0.4s;
    height: 35px;
}

.footer .icon:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(103%);

}



@media only screen and (max-width:575px) {
    .videos .container-fluid {
        flex-direction: column;
    }

    .videos iframe {
        padding: 0 0.2rem;
    }

    .formulario form {
        width: 90%;
    }

    .fechas__imagen {
        width: 90%;
    }

    .footer__lista {
        width: 40%;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .videos .container-fluid {
        flex-direction: column;
    }

    .formulario form {
        width: 70%;
    }

    .fechas__imagen {
        width: 70%;
    }

    .footer__lista {
        width: 25%;
    }
}

@media only screen and (min-width:1200px) {


    .contenedorGaleria .container {
        width: 800px;
    }

    .formulario{
        background-image: url("multimedia/guitar2-landscape.jpg");

    }
}