* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: gray;
}

/* videos */
.videos h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.videos .container-fluid {
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos iframe {
  padding: 1rem;
}

/* Discos */
.discos h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.contenedorDiscos {
  background-image: url("multimedia/disco.jpg");
  background-size: cover;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contenedorDiscos img {
  height: 20rem;
  margin: 10px;
  border-radius: 20px;
}

.contenedorDiscos img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contenedorDiscos h4 {
  color: white;
  text-align: center;
}

/* footer */
.footer {
  width: 100%;
  height: 4rem;
  background-color: #F08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__lista {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  padding-right: 20px;
}

.footer a {
  height: 32px;
  padding: auto;
}

/* Fechas */
.fechas {
  width: 100%;
  background-color: aqua;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fechas__titulo,
.fechas__texto-imagen {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.fechas__imagen {
  width: 50%;
  height: 30rem;
  border-radius: 20px;
  background-image: url("multimedia/auto.jpeg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Integrantes */
.integrantes__titulo {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}

.integrantes {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrantes__division-1 {
  margin: 1rem;
  text-align: center;
  background-color: #9854b4;
  padding: 1rem;
  border-radius: 5%;
}

.integrantes__division-2 {
  margin: 1rem;
  text-align: center;
  background-color: #8847a2;
  padding: 1rem;
  border-radius: 5%;
}

.integrantes__division-3 {
  margin: 1rem;
  text-align: center;
  background-color: #763e8c;
  padding: 1rem;
  border-radius: 5%;
}

.integrantes__division-4 {
  margin: 1rem;
  text-align: center;
  background-color: #643477;
  padding: 1rem;
  border-radius: 5%;
}

.integrantes__division-5 {
  margin: 1rem;
  text-align: center;
  background-color: #522b62;
  padding: 1rem;
  border-radius: 5%;
}

.integrantes__imagen {
  height: 20rem;
  border-radius: 50%;
}

.integrantes__nombre {
  margin-bottom: 1rem;
}

/* Contacto */
.formulario {
  width: 100%;
  height: 39rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("multimedia/hands-writting.jpg");
}

.formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario label {
  font-size: 2rem;
}

.formulario input,
textarea {
  background-color: #D0D3D4;
  border-radius: 5px;
  border: solid 3px black;
}

@media only screen and (max-width: 768px) {
  .videos .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .contenedorGaleria .container {
    width: 800px;
  }
}
/*# sourceMappingURL=estilos.css.map */