* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.navbar {
  background-color: #f5d755 !important;
}

nav .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: black !important;
}

.nav-link {
  color: rgba(0, 0, 0, 0.7) !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 22px;
}

.nav-link:hover {
  color: black !important;
}

/* videos */
.videos h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
}

.videos .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
}

.container-fluid div {
  margin: 1rem 0;
  border-radius: 10px;
}

/* Discos */
.discos {
  background-color: black;
  margin-top: 2rem;
  padding-top: 20px;
}

.discos h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
}

.contenedorDiscos {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorDiscos img {
  height: 20rem;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

.contenedorDiscos h4, .contenedorDiscos h5 {
  color: whitesmoke;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

/* Integrantes */
.integrantes {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.integrantes h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: left !important;
  font-family: "Barlow", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
}

.integrantes .banda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.integrantes__division {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 5%;
  border: #f5d855 solid 3px;
}

.integrantes__imagen {
  height: 20rem;
  border-radius: 50%;
}

.integrantes__nombre {
  margin-bottom: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  color: #f5d755;
}

/* Fechas */
.fechas {
  width: 100%;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
}

.fechas__titulo,
.fechas__texto-imagen {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: black;
  text-transform: uppercase;
}

.fechas__titulo {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fechas__texto-imagen {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fechas__imagen {
  width: 50%;
  height: 30rem;
  border-radius: 20px;
  background-image: url("multimedia/auto.jpeg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

/* Contacto */
.formulario {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("multimedia/guitar2.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 550px;
}

.formulario h2 {
  color: #D0D3D4;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
}

.formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario label {
  font-size: 1.5rem;
  color: #D0D3D4;
  font-family: 'Barlow', sans-serif;
}

.formulario input {
  background-color: #D0D3D4;
  border-radius: 5px;
  border: none;
  height: 2rem;
  width: 100%;
  padding-left: 1rem;
}

.formulario textarea {
  background-color: #D0D3D4;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 10rem;
  padding-left: 1rem;
}

.formulario .enviar {
  width: 7rem;
  background-color: transparent;
  padding-left: 0;
  font-size: 18px;
  border: solid 2px #f5d755;
  color: #f5d755;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 20px;
  height: 35px;
  text-transform: uppercase;
}

.formulario .divEnviar {
  padding: 1rem;
}

.formulario .enviar:hover {
  color: black;
  cursor: pointer;
  background-color: #f5d855;
}

.formulario .enviar:active {
  background-color: #f5d755;
  color: black;
}

/* footer */
.footer {
  width: 100%;
  height: 6rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__lista {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer h4 {
  font-weight: lighter;
  color: #f5d755;
}

.footer .icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 35px;
  -webkit-filter: invert(98%) sepia(88%) saturate(1183%) hue-rotate(329deg) brightness(99%) contrast(95%);
          filter: invert(98%) sepia(88%) saturate(1183%) hue-rotate(329deg) brightness(99%) contrast(95%);
}

.footer .icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (max-width: 575px) {
  .formulario form {
    width: 90%;
  }
  .fechas__imagen {
    width: 90%;
  }
  .footer__lista {
    width: 50%;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .container-fluid div {
    border-radius: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .videos .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario form {
    width: 70%;
  }
  .fechas__imagen {
    width: 70%;
  }
  .footer__lista {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .contenedorGaleria .container {
    width: 800px;
  }
  .formulario {
    background-image: url("multimedia/guitar2-landscape.jpg");
  }
}
/*# sourceMappingURL=estilos.css.map */